@font-face {
    font-family: RuslanDisplay;
    src: url('/RuslanDisplay.ttf');
}

TextField,
PasswordField {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.mainButton {
    -fx-background-color: forestgreen;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}

.secondButton {
    -fx-background-color: #003a92;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}

.authBox {
    -fx-background-image: url("/loginBg.jpg");
    -fx-background-position: top left;
}

.loginBox {
    -fx-background-image: url("/authBack.jpg");
    -fx-background-position: center;
}

.top_panel {
    -fx-padding: 2px;
}

.textBox {
    -fx-background-image: url("/loginBg.jpg");
}

.helloBox {
    -fx-background-image: url("/loginBg.jpg");
    -fx-background-position: top left;
    -fx-alignment: center;
}

.helloText {
    -fx-font: 80pt "RuslanDisplay";
    -fx-fill: white;
}

.exit_button {
    -fx-image: url("/power30.png");
}

.exit_button:hover {
    -fx-image: url("/power30Active.png");
}

.min_button {
    -fx-image: url("/min30.png");
}

.min_button:hover {
    -fx-image: url("/min30Active.png");
}

.errorLabel {
    -fx-font: 11pt "RuslanDisplay";
    -fx-text-fill: crimson;
}