.loginButton {
    -fx-background-color: forestgreen;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}

.authBox {
    -fx-background-image: url("/loginBg.jpg");
    -fx-background-position: top left;
}

.loginBox{
    -fx-background-image: url("/authBack.jpg") ;
    -fx-background-position: center;
}

.top_panel{
    -fx-padding: 5px;
}

.textBox{
}

.helloBox{
    -fx-background-color: forestgreen;
}

.exit_button {
    -fx-image: url("/power30.png");
}

.exit_button:hover {
    -fx-image: url("/power30active.png");
}